/* define variables for the primary colors */

//Fondos
$fondo_grid_layout: white;
$fondo_main_header: #76a5af;
$fondo_aside: #c27ba0;
$fondo_main_section: #80ffff; //#80ffff alternativo 
$fondo_main_footer: #76a5af;
$fondo_divs_main_section: rgba(146, 141, 141, 0.8); //rgba(146, 141, 141, 0.8) alternativo
$fondo_li_navbar: rgb(255, 255, 255);
$fondo_a_hoover_navbar: rgba(146, 141, 141, 0.8);
$fondo_a_hoover_nav_redes: white;
// Fuentes
$fuente_h1: rgb(38, 236, 226); //#26ece2 h1
$fuente_h2: black;
$fuente_a_nav_redes: black;
$fuente_a_navbar: black;
$fuente_a_hoover_navbar: white;
$fuente_a_hoover_nav_redes: grey;
//iconos
$fuente_icono: black;