/* Contenedor del Encabezado Principal (Main_Header) */

.grid-main_header {
    display: grid;
    grid-template-areas: '. . main_header__nav_redes' 'main_header__titulo_web . .' 'main_header__icono_web . .' ' main_header__nav_ppal main_header__nav_ppal main_header__nav_ppal';
    width: auto;
    background-color: $fondo_main_header;
    padding: 0px;
    margin: 0;
}

.grid-main_header>div {
    align-self: center;
    padding: 0;
    margin: 0;
}


/* Areas principales del Encabezado Principal (Main_Header) */

.main_header__nav_redes {
    grid-area: main_header__nav_redes;
}


/* Barra de Navegación Redes con Flexbox */

.nav_redes__navbar_redes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    a {
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        color: $fuente_a_nav_redes;
    }
     :hover {
        background-color: $fondo_a_hoover_nav_redes;
        color: $fuente_a_hoover_nav_redes;
    }
}

.main_header__titulo_web {
    grid-area: main_header__titulo_web;
}

.main_header__icono_web {
    grid-area: main_header__icono_web;
    font-size: 72px;
    color: $fuente_icono;
    margin: 0px;
}

.main_header__nav_ppal {
    grid-area: main_header__nav_ppal;
}


/* Barra de Navegación Principal con Flexbox */

.nav_ppal__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-position: inside;
        // list-style-image: url(Images/heartbeat-solid.svg);
        list-style-type: circle;
        padding: 13px;
        margin: 0;
        border: 1px solid black;
        background-color: $fondo_li_navbar;
    }
    a {
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        color: $fuente_a_navbar;
    }
     :hover {
        background-color: $fondo_a_hoover_navbar;
        color: $fuente_a_hoover_navbar;
    }
}